<article class="post">
    <div class="title"><a href="/post/{{id}}">{{title}}</a></div>
    <div class="meta soft-text">
        <p>posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div>{{content}}</div>
</article>